html{
  background-color: black;
  /* /* animation: 3s 1 alternate slidein ;
}
@keyframes slidein{
  from{
    color:
   
    
  }
  to {
    color:
    
    
  
    
  } */
} */
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  color: white;
  animation-name: fadein;
  animation-duration: 5s; 
  animation-iteration-count: 1;
  }
@keyframes fadein{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.ambi{
  margin: auto;
  border: 50px white;
  padding:4px;
  background-color:rgb(206, 206, 255);
  color: black;
  text-align: center;
}

.about{
  margin: auto;
  border: 50px white;
  background-color: rgb(197, 197, 255);
  color: black;
  padding: 25px;
  text-align: center;
}
.about h1{
  text-align: center;
}
.about p{
  text-align: center;
}
#profilepic {
  width:250px;
  height: auto;
  float: none;
  text-align: center;

}
.projects h1{
  display:flex;
  background-color: rgb(182, 182, 252);
  justify-content: center;
  margin-block: auto;
}
.project-container{
  display:flex;
  background-color: rgb(174, 168, 255);
  justify-content: space-around;
  animation-duration: 3s;
}    
.item{
  flex-basis: 100px;
  height: auto;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1;
  animation-name: slidein;
  animation-iteration-count: alternate;
  animation-direction: alternate;
  
}
.edu{
  display: flex;
  margin:auto;
  flex-direction: column;
  background-color: rgb(177, 177, 247);
  color: black;
  padding: 5px;
  text-align: center;
  justify-content: space-around;
}
.edu h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-block: auto;
}
.ucsc{
  flex: 1;
  height: auto;
  background-color: yellow;
  color:rgb(0, 0, 0);
  margin:10px;
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-grow: 1;
}
.coop{
  flex-basis: 100px;
  height: auto;
  background-color: rgb(0, 255, 128);
  color:rgb(0, 0, 0);
  margin:10px;
  display:flex;
  justify-content: right;
  text-align: center;
  align-items: center;
  flex-grow: 1;
}
.coop img{
  padding:5px;
  margin-left: 10px;
}

.epic{
  flex-basis: 100px;
  height: auto;
  background-color: rgba(29, 141, 145, 0.904);
  color:rgb(0, 0, 0);
  margin:10px;
  text-align: center;
  flex-grow: 1;
}

.hobhead{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-block: auto;
  background-color: rgb(177, 177, 247);
  padding:2px;
}
.hobbies{
  display: flex;
  flex-direction: row;
  background-color: rgb(128, 128, 128);
  height: 530px;
  padding:1px;
  justify-content: space-around;

}
.hobbies .skate{
  flex-basis: auto;
  height: auto;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1
}
.hobbies .skate h1{
  text-align: center;
}
.hobbies .skate ul{
  text-align: left;
}
.highlight{
  color: red;
}
#trick{
  height: 200px;
  margin-top: 10px;
}
.hobbies .airbrush{
  flex-basis: auto;
  height: auto;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1
}
.hobbies .airbrush ul{
  text-align: left;
}
#shodan{
  height: 200px;
  margin-top:10px
}
.hobbies .screen{
  flex-basis: auto;
  height: auto;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1;
}
.hobbies .screen h1{
  text-align: center;
}
.hobbies .screen ul{
  text-align: left;
}
#bag{
  height: 200px;
  margin-top:10px;
}