html{
  background-color: black;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  color: white;


}

.ambi{
  margin: auto;
  border: 50px white;
  padding:4px;
  background-color:rgba(230, 230, 250);
  color: black;
  text-align: center;
}
.about{
  margin: auto;
  border: 50px white;
  background-color: rgb(177, 177, 247);
  color: black;
  padding: 5px
}
.about h1{
  text-align: center;
}
.about p{
  text-align: center;
}
#profilepic {
  width:250px;
  height: auto;
  margin-left: 40%;
  margin-right:49%;
  float: none;

}
.projects h1{
  display:flex;
  background-color: rgb(175,169,252);
  justify-content: center;
  margin-block: auto;
}
.project-container{
  display:flex;
  background-color: rgb(175, 169, 252);
  justify-content: space-around;
}
.item{
  flex-basis: 100px;
  height: auto;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1
  
}
.edu{
  margin:auto;
  background-color: rgb(177, 177, 247);
  color: black;
  padding: 5px;
  text-align: center;
}
.edu .list{
  text-align: center;
  margin-left:40px;
}