html{
  background-color: black;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  color: white;


}

.ambi{
  margin: auto;
  border: 50px white;
  padding:4px;
  background-color:rgba(230, 230, 250);
  color: black;
  text-align: center;
}
.about{
  margin: auto;
  border: 50px white;
  background-color: rgb(177, 177, 247);
  color: black;
  padding: 5px;
  text-align: center;
}
.about h1{
  text-align: center;
}
.about p{
  text-align: center;
}
#profilepic {
  width:250px;
  height: auto;
  margin-left: 40%;
  margin-right:49%;
  float: none;
  text-align: center;

}
.projects h1{
  display:flex;
  background-color: rgb(175,169,252);
  justify-content: center;
  margin-block: auto;
}
.project-container{
  display:flex;
  background-color: rgb(175, 169, 252);
  justify-content: space-around;
}
.item{
  flex-basis: 100px;
  height: auto;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1
  
}
.edu{
  display: flex;
  margin:auto;
  flex-direction: column;
  background-color: rgb(177, 177, 247);
  color: black;
  padding: 5px;
  text-align: center;
  justify-content: space-around;
}
.edu h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-block: auto;
}
.ucsc{
  flex: 1;
  height: auto;
  background-color: yellow;
  color:rgb(0, 0, 0);
  margin:10px;
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-grow: 1;
}
.coop{
  flex-basis: 100px;
  height: auto;
  background-color: rgb(0, 255, 128);
  color:rgb(0, 0, 0);
  margin:10px;
  display:flex;
  justify-content: right;
  text-align: center;
  align-items: center;
  flex-grow: 1;
}
.coop img{
  padding:5px;
  margin-left: 10px;
}

.epic{
  flex-basis: 100px;
  height: auto;
  background-color: rgba(29, 141, 145, 0.904);
  color:rgb(0, 0, 0);
  margin:10px;
  text-align: center;
  flex-grow: 1;
}

.hobhead{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-block: auto;
  padding:2px;
}
.hobbies{
  display: flex;
  flex-direction: row;
  background-color: rgb(128, 128, 128);
  height: 530px;
  padding:1px;
  justify-content: space-around;

}
.hobbies .skate{
  flex-basis: 100px;
  height: 80%;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1
}
#trick{
  height: 200px;
  margin-top: 10px;
}
.hobbies .airbrush{
  flex-basis: 100px;
  height: 80%;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1
}
#shodan{
  height: 200px;
  margin-top:10px
}
.hobbies .screen{
  flex-basis: 100px;
  height: 80%;
  background:rgb(252, 175, 169);
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  flex-grow: 1
}
#bag{
  height: 200px;
  margin-top:10px;
}